body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

h1 {
  margin-top: 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

#viisari1{
  grid-column: 1 / 2;
  grid-row: 1/1;
  z-index: 4;
  border-style: solid; 
  border-width: 0px 0px 8px 0px; 
  width: 45px; height: 45px; 
  border-radius: 55px 0px 0px 0px;
}

#viisari2{
  grid-column: 2 / 2;
  grid-row: 1/1;
  z-index: 4;
  width: 45px; 
  height: 45px; 
  border-radius: 0px 50px 0px 0px;
}
  
#viisari3{
  grid-column: 1 / 2;
  grid-row: 2/2;
  z-index: 4;
  border-style: solid; 
  border-width: 0px 0px 0px 0px; 
  width: 45px; 
  height: 45px; 
  border-radius: 0px 0px 0px 50px;
}

#viisari4{
  grid-column: 2 / 2;
  grid-row: 2/2;
  z-index: 4;
  width: 45px; 
  height: 45px; 
  border-radius: 0px 0px 50px 0px;
}

#wrap{
  width: 110px; height: 110px;
  grid-column: 3 / 3;
}

#mittari{
  z-index: 3;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  grid-column: 3 / 3;
  display: grid;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
  grid-template-columns: repeat(2, 1fr);
  width: 100px; height: 100px; border-radius: 55px;
}

#mittari-wrap{
  position: absolute;
  z-index: 1;
  display: grid;
  transform: rotate(100deg);
  transition: all 0.5s ease-in-out;
  width: 110px; height: 110px; border-radius: 55px;
  border-style: solid;
  border-width: 5px;
  background: white;}

#mittari-wrap-2{
  position: absolute;
  z-index: 3;
  margin-top: 5px;
  margin-left: 5px;
  display: grid;
  transform: rotate(100deg);
  transition: all 0.5s ease-in-out;
  width: 105px; 
  height: 105px; 
  border-radius: 55px;
}

#nuppi{
  position: absolute;
  z-index: 3;
  margin-top: 38px;
  margin-left: 42px;
  width: 12px; 
  height: 12px; 
  border-radius: 12px;
  border-style: solid;
  border-width: 5px;
  background: black;
}

#mittariteksti{
  //position: absolute;
  //z-index: 1;
  //display: grid;
  //transform: rotate(-100deg);
  //transition: all 0.5s ease-in-out;
  //width: 110px; height: 110px; border-radius: 55px;
  //border-style: solid;
  //border-width: 5px;
  //background: white;}

#tausta1{
  z-index: 2;
  margin-top: 10px;
  margin-left: 10px;
  top: 20;
  left: 20;
  grid-column: 1 / 2;
  grid-row: 1/1;
  width: 40px; height: 40px;
  border-style: solid;
  border-width: 30px 0px 0px 0px; 
  border-radius: 50px 0px 0px 0px;
  border-color: red;
}

#harvelit{
display: grid;
position: relative; float: left;
grid-template-columns: repeat(3, 1fr);
height: 240px;
width: 280px;
margin-right: 20px;
}

#pyora{
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 102px; height: 102px; border-radius: 50px;}

#pyora:active{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#pyora1{
  grid-column: 1 / 2;
  grid-row: 1/1;
  border: 6px solid black; width: 45px; height: 45px; border-radius: 50px 0px 0px 0px;}
#pyora2{
  grid-column: 2 / 2;
  grid-row: 1/1;
  border: 6px solid black; width: 45px; height: 45px; border-radius: 00px 50px 0px 0px;}
  
#pyora3{
  grid-column: 1 / 2;
  grid-row: 2/2;
  border: 6px solid black; width: 45px; height: 45px; border-radius: 0px 0px 0px 50px;}
#pyora4{
  grid-column: 2 / 2;
  grid-row: 2/2;
  border: 6px solid black; width: 45px; height: 45px; border-radius: 0px 0px 50px 0px;}
  
#viisari{border: 3px solid black; width: 50px;}

#uuni{border: 2px solid black;
  position: absolute;
  width: 50%;
  overflow: auto;
  min-width: 300px;
  background: grey; padding: 20px; border-radius: 10px; transition: all 0.5s ease-in-out;
}

#uuni-kylma{border: 2px solid black; width: 300px; height: 400px; background: black; padding: 20px; border-radius: 10px;}
#uuni1{width: 148px; height: 198px; background: orange; border-radius: 16px; margin: 1px;}

#ritila{
  border: 20px solid black; 
  background: yellow; 
  width: 260px; 
  height: 120px; 
  display: grid;
  position: relative; 
  float: left;
  grid-template-columns: repeat(4, 1fr);
}

#ritila:active {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.palkki2{
  border: solid; 
  border-width: 14px 14px 0px 14px; 
  background: yellow; 
  width: 38px; 
  height: 46px; 
  transition: all 0.5s ease-in-out;
}
.palkki3{
  border: solid; 
  border-width: 0px 14px 14px 14px; 
  background: yellow; 
  width: 38px; 
  height: 46px; 
  transition: all 0.5s ease-in-out;
}

#rajahdys{
  visibility: hidden;
  width: 50%;
  z-index: 5;
  overflow: auto;
  /*display: grid;*/
  position: absolute;
  /*float: left;*/
  /*grid-template-columns: repeat(8, 1fr);*/
  min-width: 340px;
  background: yellow;
  /*opacity: 70%;*/
}

#uunix{border: 2px solid black;
  position: absolute;
  width: 50%;
  overflow: auto;
  min-width: 300px;
  background: grey; padding: 20px; border-radius: 10px; transition: all 0.5s ease-in-out;
}

.rajahdysrivi{
  display: grid;
  /*position: absolute;*/
  /*width: 100%;*/
  float: left;
  grid-template-columns: repeat(8, 1fr);
  /*min-width: 260px;*/
  /*background: gray;*/
}

#restart{
  display: grid;
  /*position: absolute;*/ 
  float: left;
  grid-template-columns: repeat(8, 1fr);
  }

.rajahdyspalkki{
  background: yellow; 
  width: 44px; 
  height: 44px; 
  transition: all 0.5s ease-in-out;
}

.kriittinen {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.kriittinen {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

#chat1 {
  /*opacity: 1;*/
  z-index: 3;
  position: relative;
  left: 30px;
  /*margin-left: auto;*/
}
#chat2 {
  /*opacity: 1;*/
  z-index: 4;
  position: relative;
  left: -30px;
  /*margin-right: auto;*/
}

.pois {
  opacity: 0;
  /*animation: fadeoutchat 4s;
  animation-iteration-count: 1;*/

}

.paalla {
  opacity: 1;
  animation: fadeinchat 4s;
  /*animation-direction: alternate;*/
  animation-iteration-count: 1;
}

@keyframes fadeoutchat {
  0% { opacity: 1; }
  /*50% { opacity: 0; }*/
  100% { opacity: 0; }
}

@keyframes fadeinchat {
  0% { opacity: 0; }
  100% { opacity: 1; }
}